{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
<title>Mochi Mochi</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  {% if request.user.is_authenticated %}
  <a class="navbar-brand" href="#">Welcome, <strong>{{ user.username }}</strong>!</a>
  {% else %}
  <a class="navbar-brand" href="#">Welcome!</a>
  {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'card-new-page' %}">New Card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'card-list-page' %}">Cards</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>
<br>
<center>
<h1>Welcome to Mochi-Mochi!</h1>
{% if request.user.is_authenticated %}
<h2>Hello, {{ user.username }}!</h2>
{% else %}
<h2>Log in to begin.</h2>

{% endif %}
</center>
</body>
</html>
